GROQ_API_KEY=gsk---------------
GROQ_MODEL=llama-3.3-70b-versatile # or llama-3.1-8b-instant
TAVILY_API_KEY=tvly--------------
TOP_K=15
OUTPUT_DIR=outputs

LANGSMITH_TRACING="False"
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY=-----------------------------------
LANGSMITH_PROJECT="VacayMate"
OPENAI_API_KEY=--------------------------

SERPAPI_API_KEY=----------------------
OWM_API_KEY = ------------------------
FLIGHTS_RAPID_API_KEY=---------------------------